div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
	word-wrap: normal;
	-ms-word-break: normal;
	word-break: normal;
	word-break: normal;
	-ms-hyphens: none;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
	page-break-inside: avoid;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.3;
	color: #000;
	display: block;
	position: relative;
	z-index: 1000;
	border: 1px solid #FFF;
	margin: 5vw;
	padding: 20px;
}
body {
	font-family: $font_primary;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
	color: #000;
  @include max($midwidth) {
    padding-top: 80px;
  }
}
h1,h2,h3,h4,h5,h6 {
  font-family: $font_secondary;
}
.h1, h1 {
  font-size: 2rem;
  @include tab {
    font-size: 2.8rem;
  }
}
h2 {
  font-size: 1.8rem;
  font-weight: 500;
  @include tab {
    font-size: 2.5rem;
  }
}
.h2 {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 500px;
  width: 100%;
  margin: 0 auto 30px;
  @include tab {
    font-size: 2.5rem;
  }
}
section, div {
	&:focus {
		outline: 0;
	}
}
a,input,button,select,textarea {
	transition: all ease .3s;
}
a {
	color: $color_link;
	text-decoration: underline;
	&:hover {
		color: $color_link_hover;
	}
}
.cf:before, .cf:after {
    content: " "; 
    display: table; 
}
.cf:after { clear: both; }
.cf { *zoom: 1; }
.text-center {text-align:center;}
.fw,.full {width:100%!important;float:left !important}
.nomtop {margin-top:0!important;}
.nombottom {margin-bottom:0!important;}
/* Text meant only for screen readers. */
.sr {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #333;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #FFF;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}
.site {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.flexwrap {
  @include flexgroup();
}
.wrapper {
	max-width: 90%;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	z-index: 10;
  @include xs {
    max-width: 85%;
  }
	&.narrow {
		max-width: 900px;
	}
	&.sm {
		max-width: 800px;
	}
	&.wide {
		max-width: 1350px;
	}
}

.site-header {
  .head-inner {
    @include flexgroup();
    align-items: center;
    justify-content: space-between;
  }

  .site-logo {
    display: inline-block;
    width: 175px;
    * {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  @include max($midwidth) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 100;
    background: #FFF;
    .site-logo {
      position: absolute;
      top: 10px;
      left: 0;
      width: 145px;
    }
  }
}

body.home {
  #content {
    min-height: 10em;
    background: $primary;
  }
}


#site-navigation {
  ul {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
  }
  ul.menu {
    display: inline-block;
    float: right;
  }
  ul.menu > li {
    float: left;
  }
  ul.menu a {
    font-family: $font_secondary;
    display: block;
    text-decoration: none;
    position: relative;
  }
  ul.menu > li > a {
    font-size: 1.1em;
    font-weight: normal;
    color: $primary;
    padding: 40px 15px;
  }
  ul.menu > li:hover > a {
    color: $gray;
  }

  ul.menu li.current-menu-item > a {
    color: $gray;
    &:before {
      content:"";
      display: block;
      width: 100%;
      height: 5px;
      background: $secondary;
      position: absolute;
      top: 0;
      left: 0;
    }
  }


  @include max($midwidth) {
    position: fixed;
    top: 0;
    right: -100vw;
    max-width: 350px;
    width: 100%;
    height: 100%;
    background: #FFF;
    padding: 20px 0 0;
    transition: all ease .3s;
    z-index: -999;
    ul.menu>li {
      width: 100%;
    }
    ul.menu>li>a {
      padding: 10px 25px;
    }
    ul.menu li.current-menu-item > a {
      &:before {
        width: 7px;
        height: 100%;
      }
    }
    ul.menu li.homelink {
      a {
        font-size: 2em;
        line-height: 1;
        padding: 10px 20px;
      }
    }
  }
}

#menu-toggle {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 0;
  z-index: 99999;
  background: transparent;
  cursor: pointer;
  transition: all ease .3s;
  @include max($midwidth) {
    display: block;
  }
  span.bar,
  span.bar:before,
  span.bar:after {
    display: block;
    height: 3px;
    border-radius: 30px;
    background: #000;
    transition: all ease .3s;
    position: absolute;
    left: 0;
  }
  span.bar {
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  span.bar:before,
  span.bar:after {
    content:"";
    width: 100%;
  }
  span.bar:before {
    top: -8px;
  }
  span.bar:after {
    top: 8px;
  }
  &.open {
    span.bar {
      background-color: transparent;
      transform: translateX(-16px) rotate(45deg);
    }
    span.bar:before {
      transform: translateY(8px) rotate(0);
    }
    span.bar:after {
      transform: translateY(-7px) rotate(-90deg);
    }
  }

}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  z-index: 99999;
}

body.mobile-menu-open {
  #overlay {display:block;}
  .site-header {
    z-index: 999999;
    .head-inner {
      &:before {
        content:"";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
        z-index: 999;
      }
    }
    // .site-logo {
    //   left: 52px;
    //   z-index: 9999999;
    // }
  }
  #site-navigation {
    right: 0;
    z-index: 9999;
  }
}
html  body.logged-in.admin-bar {
  @include max($midwidth) {
    .site-header {top:46px;}
    #wpadminbar {
      position: fixed!important;
      top: 0;
      left: 0;
    }
  }
}

.banner-wrapper {
  position: relative;
  z-index: 20;
  .wrapper {
    max-width: 100%;
    @include tab {
      max-width: $wrapper;
    }
  }
  .banner {
    height: 82vh;
    position: relative;
    @include tab {
      height: 80vh;
    }
    .wrapper, .slide {
      height: 100%;
      position: relative;
      z-index: 10;

    }
    .slide  {
      background-color: #CCC;
    }
    .slideImage {
      width: 100%;
      height: 100%;
      @include backgroundImage(center);
      background-color: #CCC;
    }
    .caption {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      @include flexgroup();
      justify-content: center;
      align-items: center;
      background: rgba(0,0,0,.6);
      text-align: center;
      padding: 20px;
      @include tab {
        padding: 0 0;
      }
      .text {
        font-family: $font_secondary;
        font-size: 3.5vh;
        font-weight: 600;
        line-height: 1.2;
        text-transform: uppercase;
        color: #FFF;
        max-width: 750px;
        width: 100%;
        @include tab {
          font-size: 7vh;
        }
      }
    }
  }
}

.subpage-banner {
  .wrapper {
    position: relative;
    padding: 0 0;
    max-width: $wrapper;
  }
  .banner-text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    @include flexgroup();
    justify-content: center;
    align-items: center;
    &:before {
      content:"";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba($primary,60%);
      // background: -moz-linear-gradient(top,  rgba(19,86,122,1) 0%, rgba(29,66,84,0.6) 100%);
      // background: -webkit-linear-gradient(top,  rgba(19,86,122,1) 0%,rgba(29,66,84,0.6) 100%);
      // background: linear-gradient(to bottom,  rgba(19,86,122,1) 0%,rgba(29,66,84,0.6) 100%);
      // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13567a', endColorstr='#991d4254',GradientType=0 );
    }
    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1.2;
      color: #FFF;
      position: relative;
      z-index: 10;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
}
#main,
.titlediv.wrapper {
  @include max($midwidth) {
    max-width: 100%;
    width: 100%;
  }
}

body.home {
  #content {
    #intro {
      margin-top: -70px;
    }
  }
}
.medium-width {
  max-width: 850px;
  width: 100%;
  margin:0 auto;
}

/* Slideshow */
.slideshow {
  .swiper, .swiper-wrapper, .swiper-slide {
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 40px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-button-next, .swiper-button-prev {
    color: #FFF;
    transform: scale(0.65);
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  .swiper-pagination-bullets.swiper-pagination {
    width: 100px;
    right: 0;
    left: unset;
  }
  .swiper-pagination-bullet {
    background-color: rgba(255,255,255, .3);
    opacity: 1;
    &.swiper-pagination-bullet-active {
      background-color: #FFF;
    }
  }
}

.row1 {
  @include max($midwidth) {
    .wrapper {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.intro {
  padding-top: 170px;
  padding-bottom: 70px;
  h2 {
    font-weight: 600;
  }
  
}

.scrolldown {
  display: inline-block;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 25;
  a {
    display: inline-block;
    text-decoration: none;
    transform: all ease .3s;
    background: $secondary;
    overflow: hidden;
    width: 50px;
    height: 50px;
    text-indent: -99em;
    position: relative;
    span{
      width: 0;
      right: -20vw;
    }
    &:before, &:after {
      content:"";
      display: block;
      width: 40%;
      height: 2px;
      background: #FFF;
      position: absolute;
      top: 25px;
      left: 50%;
      transform: translateX(-50%);
      transition: all ease .3s;
    }
    &:before {
      transform: translateX(-80%) rotate(48deg);
    }
    &:after {
      transform: translateX(-17%) rotate(-48deg);
    }
    &:hover {
      // background: tint($secondary,20%);
      background: $teal;
      &:before, &:after {
        top: 28px;
      }
    }
  }
}


.home-boxes {
  @include flexgroup();
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  .item {
    width: 100%;
    padding: 20px;
    @include xs {
      width: 50%;
    }
    @include tab {
      width: 33.333%;
    }
    .inner {
      padding: 20px;
      background: rgba(255,255,255,.12);
      text-align: center;
      min-height: 230px;
      @include flexgroup();
      align-items: center;
      justify-content: center;
      h4,h5 {
        width: 100%;
        line-height: 1.2;
      }
    }
    p:empty{
      display: none;
    }
    h4 {
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2;
      margin: 0 0;
      text-transform: uppercase;
      @include tab {
        font-size: 4rem;
      }
    }
    h5 {
      font-size: 0.8rem;
      font-weight: 800;
      line-height: 1.2;
      margin: 0 0;
      color: $teal;
      text-transform: uppercase;
      @include tab {
        font-size: 1rem;
      }
    }
    &.highlighted {
      .inner {
        background-color: transparent;
      }
      h4 {
        font-size: 3rem;
        font-weight: 500;
        color: $secondary;
      }
    }
    div.button {
      margin-top: 0;
      width: 100%;
      @include tab {
        margin-top: -45px;
      }
      a {
        display: inline-block;
        text-decoration: none;
        background: $teal;
        color: #FFF;
        padding: 10px 25px;
        font-weight: 500;
        &:hover {
          background: $secondary;
        }
      }
    }
  }
}


.approach {
  position: relative;
  z-index: 30;
  background: #FFF;
  img.wp-block-cover__image-background {
    position: absolute;
    top: 0;
    left: 0;
  }
  .wp-block-cover {
    position: relative;
    top: -80px;
  }
  .wp-block-group__inner-container {
    // position: relative;
    // top: -80px;
  }
  .wp-block-cover {
    position: relative;
    padding: 0 0;
    .wp-block-cover__inner-container {
      position: absolute;
      left: 0;
      bottom: 0;
      overflow: hidden;
      @include max($midwidth) {
        position: relative;
      }
    }
  }
  p:empty{display:none;}
  h2 {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    text-align: center;
  }
}
.home--approach {
  position: relative;
  top: 0;
}
.home--tabs {
  width: 30%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10vw;
  z-index: 15;
  @include max($midwidth) {
    padding-top: 120px;
    padding-bottom: 50px;
  }
  .tabTitle {
    width: 100%;
    a.wrap {
      display: block;
      text-decoration: none;
      padding: 12px 30px 15px;
      line-height: 1.2;
    }
    &.title {
      a span {
        display: inline-block;
        background: $primary;
      }
    }
    &.first {
      a.wrap {
        background: $primary;
        color: $secondary;
      }
    }
  }
  .title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 8px 0;
    @include tab {
      padding: 20px 0;
    }
    img {
      width: auto;
      height: 35px;
      margin-right: 20px;
      @include tab {
        height: 50px;
      }
    }
    .t1 {
      font-size: 1.1em;
      font-weight: 600;
      line-height: 1.2;
      color: #FFF;
      @include tab {
        font-size: 1.5em;
      }
    }
  }
}
.home-tabs-content {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 25;
  .tabText {
    display: none;
    .inner {
      font-size: 23px;
      font-weight: 600;
      line-height: 1.3;
    }
    @include animateThis(1s);
    &.active {
      display: block;
      position: absolute;
      bottom: 50px;
      right: 0;
      background: #FFF;
      padding: 15px;

      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      animation-duration: 0.3s;
      @include animateEffect('fadeInRight');
    }
  }

  @include max($midwidth) {
    width: 100%;
    position: relative;
    padding: 15px 15px 40px;
    .tabText.active {
      position: relative;
    }
  }
}

.home--tabs {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .tabTitle {
    // display: none;
    .title {
      a {
        display: block;
        padding: 10px 50px 10px 30px;
        position: relative;
        // background: tint($primary,1);
        &:before {
          content:"";
          display: block;
          width: 0%;
          height: 100%;
          transition: all ease .3s;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          // background: $primary;
        }
        img,span {
          display: inline-block;
          position: relative;
          z-index: 10;
        }
        span {
          top: 4px;
        }
        &:hover {
          &:before {
            width: 100%;
            background: tint($primary,1)
          }
        }
      }
    }

    .tabTitle {
      .title {
        color: #FFF;
        background: $primary;
        &:hover {
          a {
            width: 100%;
            background: tint($primary,1);
            img,span {
              display: inline-block;
              position: relative;
              z-index: 10;
            }
          }
        }
      }
      
    }
    .wrap {
      position: relative;
      z-index: 10;
    }

    &.active {
      .title a {
        &:before {
          background: $primary;
          width: 100%;
        }
        span.t1 {
          color: $secondary;
        }
      }
    }
  }
}

.home-tabs-arrows {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  height: 50px;
  z-index: 100;
  @include max($tabwidth) {
    width: 100%;
  }
  a {
    display: inline-block;
    text-decoration: none;
    background: $secondary;
    width: 50px;
    height: 100%;
    position: relative;
    margin-left: 1px;
    span {
      display: block;
      width: 0;
      overflow: hidden;
      text-indent: -99em;
    }
    &:before, &:after {
      content:"";
      display: inline-block;
      width: 18px;
      height: 2px;
      background: #FFF;
      position: absolute;
      top: 19px;
      left: 15px;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  a.prev {
    &:before {
      transform: translateY(0) rotate(-45deg);
    }
    &:after {
      transform: translateY(11px) rotate(45deg);
    }
  }
  a.next {
    &:before, &:after {
      left: 18px;
    }
    &:before {
      transform: translateY(11px) rotate(-45deg);
    }
    &:after {
      transform: translateY(0) rotate(45deg);
    }
    @include max($tabwidth) {
      position: absolute;
      right: 0;
    }
  }
}

.wp-block-group.mission {
  position: relative;
  z-index: 25;
  h2 {font-weight:600;}
  
  &:before {
    content:"";
    display: block;
    height: 0; 
    width: 50px;
    border-bottom: 30px solid $secondary;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
  }
  .wp-block-group__inner-container {
    font-weight: 500;
  }
}

#main {
  min-height: 30em;
}

.pull-top {
  position: relative;
  top: -100px;
  padding-top: 200px;
}

.wp-block-group.history {
  position: relative;
  z-index: 10;
  &:before {
    content: "";
    display: block;
    height: 0;
    width: 50px;
    border-bottom: 30px solid #FFF;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    top: -125px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.mission-column {
  .midwrapper {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

.timeline-swiper {
  #timeline,
  .swiper-wrapper,
  .swiper-slide,
  .swiper-slide .inner {
    height: 100%;
  }
  &.wrapper {
    max-width: 80vw;
  }
  .inner {
    background: #CFD2D3;
    @include flexgroup();
    justify-content: center;
    align-items: center;
    .text {
      width: 100%;
      @include flexgroup();
      justify-content: center;
      align-items: center;
      padding-top: 50px;
      padding-left: 20px;
      padding-right: 20px;
      @include tab {
        width: 60%;
        padding-top: 0;
        padding-left: 5vw;
        padding-right: 5vw;
      }
      .large-text {
        font-family: $font_secondary;
        font-size: 12vw;
        font-weight: 700;
        line-height: 1;
        color: $primary;
      }
      .small-text {
        font-size: 5.5vw;
        font-weight: 600;
        line-height: 1.2;
        color: #FFF;
        @include tab {
          font-size: 2.5vw;
        }
      }
    }
    .photo {
      margin: 0 0;
      width: 100%;
      padding: 5vw 4vw;
      position: relative;
      span {
        display: block;
        width: 100%;
        float: left;
        position: relative;
        z-index: 10;
        @include backgroundImage(center);
        background-size: contain;
        background-color: #656565;
        @include max($portrait) {
          background-image:none!important;
        }
      }
      img {
        width: 100%;
        height: auto;
        float: left;
      }
      img.helper {
        display: block;
        @include max($portrait) {
          display: none;
        }
      }
      img.actual {
        display: none;
        @include max($portrait) {
          display: block;
        }
      }
      &:after {
        content:"";
        display: block;
        width: 100%;
        height: 30%;
        position: absolute;
        bottom: 0;
        right: 0;
        background: #FFF;
      }
      @include tab {
        width: 40%;
        &:after {display:none;}
        &:before {
          content:"";
          display: block;
          width: 40%;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          background: #FFF;
        }
      }
      img {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 10;
      }
    }
    p:empty{display:none;}
  }
}

.timelineWrap {
  .swiper-button-prev,
  .swiper-button-next  {
    width: 55px;
    height: 55px;
    background: $secondary;
    color: #FFF;
    transition: all ease .3s;
    z-index: 10;
    &:before, &:after {
      transition: all ease .3s;
    }
  }
  .swiper-button-next {
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      right: 20px;
      width: 15vw;
      height: 2px;
      background: $secondary;
      transform: translateY(-50%);
      @include tab {
        right: 50px;
      }
    }
    &:after {
      transform: scale(0.6);
    }
    &:hover{
      &:after {
        transform: translateX(8px) scale(0.6);
      }
    }
  }
  .swiper-button-prev {
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 15vw;
      height: 2px;
      background: $secondary;
      transform: translateY(-50%);
    }
    &:after {
      transform: scale(0.6);
    }
    &:hover{
      &:after {
        transform: translateX(-8px) scale(0.6);
      }
    }
  }
  .swiper-button-prev{left:0;}
  .swiper-button-next{right:0;}
  .swiper-pagination {display:none!important;}
}

.midwrapper {
  max-width: 90%;
  width: 100%;
  margin: 0 auto!important;
  padding: 100px 20px 50px;
  position: relative;
  z-index: 10;
  font-weight: 600;
  @include xs {
    max-width: 85%;
  }
  &.narrow {
    max-width: 900px;
  }
  &.sm {
    max-width: 800px;
  }
  &.wide {
    max-width: 1350px;
  }
}
.wrapper {
  max-width: $wrapper;
  width: 100%;
  margin: 0 auto!important;
  &.medium {
    max-width: 900px;
  }
  &.xs {
    max-width: 600px;
  }
  &.wide {
    max-width: 1350px;
  }
}

.image-content {
  padding: 0 0!important;
  position: relative;
  &:before {
    content:"";
    display: block;
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF;
  }
  .wp-block-column {
    position: relative;
    z-index: 10;
  }
  .textcol {
    @include tab {
      padding-left: 2vw;
      padding-right: 6vw;
    }
  }
}
.wp-block-group.communities {
  position: relative;
  margin-top: 35px;
}
.communities-feeds {
  position: relative;
  // margin-top: 50px;
  // padding-top: 30px;
  // padding-bottom: 30px;
  .arrowdiv {
    position: absolute;
    top: -45px;
    left: 0;
    width: 100%;
    text-align: center;
    .arrdown {
      display: inline-block;
      text-decoration: none;
      width: 50px;
      height: 50px;
      background: $secondary;
      position: relative;
      &:before, &:after {
        content: "";
        display: block;
        width: 40%;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 24px;
        left: 15px;
      }
      &:before {
        transform: translateX(-6px) rotate(50deg);
      }
      &:after {
        transform: translateX(6px) rotate(-50deg);
      }
    }
  }
  .blocks-wrapper {
    max-width: $wrapper;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  .block {
    padding: 60px 0 75px;
    border-top: 1px solid $secondary;
  }
  .block:first-child {
    border-top: none;
  }
  .has_photo {
    .photo {
      margin: 0 0 70px;
      padding: 0 0;
      position: relative;
      width: 100%;
      @include tab {
        width: 48%;
        margin-bottom: 0;
      }
      .image {
        display: block;
        width: 100%;
        float: left;
        background-image: none;
        @include backgroundImage(center);
        background-color: rgba(255,255,255,.15);
      }
      img {
        width: 100%;
        height: auto;
        float: left;
        visibility: hidden;
      }
      .more-button {
        position: absolute;
        left: 0;
        bottom: -20px;
        width: 100%;
        text-align: center;
        z-index: 10;
        a {
          display: inline-block;
          text-decoration: none;
          padding: 18px 25px 14px;
          border-radius: 0;
          color: #FFF;
          background: $teal;
          font-family: $font_secondary;
          font-size: 15px;
          font-weight: 500;
          line-height: 1.1;
          text-transform: uppercase;
          &:hover {
            background: $secondary;
          }
        }
      }
    }
    .info {
      width: 100%;
      @include tab {
        width: 48%;
      }
    }
  }
  .inner {
    @include flexgroup();
    align-items: center;
    justify-content: space-between;
  }
  .block.even {
    @include tab {
      .inner {
        flex-direction: row-reverse;
      }
    }
  }
  .titlewrap {
    margin-bottom: 30px;
    h3 {
      color: $secondary;
      font-size: 25px;
      font-weight: 600;
      line-height: 1.2;
      text-transform: uppercase;
      margin: 0 0;
    }
    .location {
      color: $teal;
      font-family: $font_secondary;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.2;
      text-transform: uppercase;
    }
  }
  .textwrap {
    color: #FFF;
  }
  p:empty {
    display: none;
  }
}

.link a {
  display: inline-block;
  text-decoration: none;
  color: $teal;
  font-family: $font_secondary;
  font-weight: 500;
  text-transform: uppercase;
  &:hover {
    color: $secondary;
  }
}
.bottom-post-terms {
  @include flexgroup();
  align-items: center;
  justify-content: center;
  border-top: 1px solid $secondary;
  border-bottom: 1px solid $secondary;
  margin-top: 50px;
  margin-bottom: 50px;
  .termInfo {
    width: 50%;
    a {
      display: block;
      text-align: center;
      color: $teal;
      font-family: $font_secondary;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.2;
      text-transform: uppercase;
      padding: 30px 30px 25px;
      text-decoration: none;
    }
  }
  .termInfo.active a {
    color: $primary;
    background-color: $secondary;
  }
  .termInfo:not(.active) {
    a:hover {
      // background-color: rgba(255,255,255,.1);
      background-color: rgba($secondary,.1);
      color: $secondary;
    }
  }
}
body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) .carousel-communities-wrap {
  margin-left: -20px!important;
  margin-right: -20px!important;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  padding: 25px 0 30px;
  &:before {
    content: "";
    display: block;
    width: 80vw;
    height: 100%;
    background: $teal;
    position: absolute;
    top: 0;
    left: 0;
  }
  .wrapper {
    max-width: $wrapper;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    z-index: 10;
  }
  .owl-item {
    margin:0 0!important;
    padding: 20px;
  }
  .item {
    text-align: center;
    background: #FFF;
    color: $primary;
    min-height: 15em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .owl-nav {
    // width: 13.2vw;
    // float: right;
    // position: relative;
    // padding: 0 20px;
    // text-align: right;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -999;
    visibility: hidden;
    height: 0;
    width: 0;
    overflow: hidden;
  }
  .owl-dots {
    position: absolute;
    bottom: -15px;
    left: 0;
    text-align: left;
    z-index: 100;
    opacity: 1;
    height: 20px;
    width: 100%;
    z-index: 1000;
    padding: 0 20px;
    button {
      display: inline-block;
      webkit-appearance:none;
      border:none;
      width: 8px;
      height: 8px;
      border-radius: 100px;
      background-color: #FFF;
      margin:5px 5px;
      opacity: 0.65;
      &.active {
        opacity: 1;
        background-color: $primary;
      }
    }
  }
}


#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: $wrapper;
  width: 100%;
  margin: 0 auto 80px;
  padding: 0 15px;
  text-align: center;
  a, span {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 7px 8px 5px;
    border: 1px solid $teal;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    margin:5px;
    min-width: 28px;
  }
  a {
    color: $teal;
    &:hover {
      background-color: rgba($teal,30%);
    }
    &.next, &.prev {
      padding: 0 5px;
      font-size: 28px;
    }
  }
  .current {
    border-color: $teal;
    background-color: $teal;
    color: $primary;
    font-weight: 700;
  }
}

/* FOOTER */
.site-footer {
  font-family: $font_secondary;
  background: $gray2;
  border-bottom: 5px solid $secondary;
  .wrapper {
    padding-top: 70px;
    padding-bottom: 60px;
  }
  .flexcol {
    width: 100%;
    position: relative;
    color: $primary;
    a {
      display: inline-block;
      text-decoration: none;
      color: $primary;
    }
  }
  .flexcol.left {
    border-left: none;
    width: 100%;
    text-align: center;
    @include tab {
      text-align: left;
      width: 350px;
      padding-right: 5vw;
      @include flexgroup();
      align-items: center;
      justify-content: center;
    }
    img {
      width: 250px;
      height: auto;
    }
  }
  .flexcol.right {
    @include flexgroup();
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #FFF;
    @include tab {
      width: calc(100% - 350px);
      margin-left: -20px;
      margin-right: -20px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 4vw;
      margin-top: 0;
      border-left: 1px solid #FFF;
      border-top: none;
    }
  }
  .email-icon {
    color: #FFF!important;
    i {font-size:20px;}
  }
  .widget, .widget a {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
  }
  .widget {
    font-family: $font_secondary;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    @include tab {
      width: 50%;
      padding: 10px 20px;
    }
    @include mid {
      width: 33.333%;
      text-align: left;
    }
    a {
      line-height: 1.3;
    }
    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
    hr {
      border-top: 1px solid #fff;
      max-width: 100%;
      width: 100%;
      margin: 20px 0 20px;
      display: block;
      @include tab {
        max-width: 250px;
      }
    }
    a:hover i,
    a:hover {
      color: $secondary;
    }
    ul {
      margin: 0 0;
      padding: 0 0;
      list-style: none;
      li {
        margin: 2px 0;
      }
    }
  }

  .bottom {
    @include flexgroup();
    text-align: center;
    @include tab {
      text-align: right;
    }
    .bcol {
      width: 100%;
      color: $primary;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: normal;
      letter-spacing: 1px;
    }
  }
  .widget-1, .widget-2 {
    width: 100%;
  }
  @include tab {
    .widget {
      font-size: 14px;
      line-height: 1.4;
    }
    .widget-1 .widget,
    .widget-2 .widget,
    .widget * {
      font-size: 14px;
    }

    .widget-1 {
      .widget, .widget * { font-size: 17px; }
      .widget { width: 100%; }
    }
    .widget-2 {
      .widget, .widget * { font-size: 17px; }
      .widget { width: 50%; font-size: 17px; }
    }
  }

  .copyright {
    font-size: 13px;
  }

  .footer-partners {
    margin-bottom: 10px;
    a {
      display: inline-block;
      text-decoration: none;
    }
    img {
      display: inline-block;
      width: 33px;
      height: auto;
      @include tab {
        margin-left: 8px;
      }
    }
  }
}


