div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
	word-wrap: normal;
	-ms-word-break: normal;
	word-break: normal;
	word-break: normal;
	-ms-hyphens: none;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
	page-break-inside: avoid;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.3;
	color: #000;
	display: block;
	position: relative;
	z-index: 1000;
	border: 1px solid #FFF;
	margin: 5vw;
	padding: 20px;
}
body {
	font-family: $font_primary;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.5;
	color: $primary;
  @include max($midwidth) {
    padding-top: 70px;
  }
}
h1,h2,h3,h4,h5,h6 {
  font-family: $font_secondary;
}
.h1, h1 {
  font-size: 2rem;
  @include tab {
    font-size: 2.8rem;
  }
}
h2 {
  font-size: 1.8rem;
  font-weight: 500;
  @include tab {
    font-size: 2.5rem;
  }
}
.h2 {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 500px;
  width: 100%;
  margin: 0 auto 30px;
  @include tab {
    font-size: 2.5rem;
  }
}
section, div {
	&:focus {
		outline: 0;
	}
}
a,input,button,select,textarea {
	transition: all ease .3s;
}
a {
	color: $color_link;
	text-decoration: underline;
	&:hover {
		color: $color_link_hover;
	}
}
.cf:before, .cf:after {
    content: " "; 
    display: table; 
}
.cf:after { clear: both; }
.cf { *zoom: 1; }
.text-center {text-align:center;}
.fw,.full {width:100%!important;float:left !important}
.nomtop {margin-top:0!important;}
.nombottom {margin-bottom:0!important;}
/* Text meant only for screen readers. */
.sr {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #333;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #FFF;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}
.site {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
body.our-communities {
  #page {margin:0 -15px;}
}
.flexwrap {
  @include flexgroup();
}
.wrapper {
	max-width: 98%;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	z-index: 10;
  @include tab {
    max-width: 90%;
  }
  @include xs {
    max-width: 85%;
  }
	&.narrow {
		max-width: 900px;
	}
	&.sm {
		max-width: 800px;
	}
	&.wide {
		max-width: 1350px;
	}
}

.site-header {
  .head-inner {
    @include flexgroup();
    align-items: center;
    justify-content: space-between;
  }

  .wrapper {
    max-width: 95%;
    width: 100%;
    @include tab {
      max-width: 90%;
    }
  }

  .site-logo {
    display: inline-block;
    width: 175px;
    * {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  @include max($midwidth) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 100;
    background: #FFF;
    padding-left: 15px;
    padding-right: 15px;
    .site-logo {
      position: absolute;
      top: 10px;
      left: 0;
      width: 145px;
    }
  }
}

body.home {
  #content {
    min-height: 10em;
    background: $primary;
  }
}


#site-navigation {
  ul {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
  }
  ul.menu {
    display: inline-block;
    float: right;
  }
  ul.menu > li {
    float: left;
  }
  ul.menu a {
    font-family: $font_secondary;
    display: block;
    text-decoration: none;
    position: relative;
  }
  ul.menu > li > a {
    font-size: 1.1em;
    font-weight: normal;
    color: $primary;
    padding: 40px 15px;
  }
  ul.menu > li:hover > a {
    color: $gray;
  }

  ul.menu li.current-menu-item > a {
    color: $gray;
    &:before {
      content:"";
      display: block;
      width: 100%;
      height: 5px;
      background: $secondary;
      position: absolute;
      top: 0;
      left: 0;
    }
  }


  @include max($midwidth) {
    position: fixed;
    top: 0;
    right: -100vw;
    max-width: 350px;
    width: 100%;
    height: 100%;
    background: #FFF;
    padding: 20px 0 0;
    transition: all ease .3s;
    z-index: -999;
    ul.menu>li {
      width: 100%;
    }
    ul.menu>li>a {
      padding: 10px 25px;
    }
    ul.menu li.current-menu-item > a {
      &:before {
        width: 7px;
        height: 100%;
      }
    }
    ul.menu li.homelink {
      a {
        font-size: 2em;
        line-height: 1;
        padding: 10px 20px;
      }
    }
  }
}

#menu-toggle {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 99999;
  background: transparent;
  cursor: pointer;
  transition: all ease .3s;
  @include max($midwidth) {
    display: block;
  }
  span.bar,
  span.bar:before,
  span.bar:after {
    display: block;
    height: 3px;
    border-radius: 30px;
    background: #000;
    transition: all ease .3s;
    position: absolute;
    left: 0;
  }
  span.bar {
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  span.bar:before,
  span.bar:after {
    content:"";
    width: 100%;
  }
  span.bar:before {
    top: -8px;
  }
  span.bar:after {
    top: 8px;
  }
  &.open {
    span.bar {
      background-color: transparent;
      transform: translateX(-16px) rotate(45deg);
    }
    span.bar:before {
      transform: translateY(8px) rotate(0);
    }
    span.bar:after {
      transform: translateY(-7px) rotate(-90deg);
    }
  }

}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  z-index: 99999;
}

body.mobile-menu-open {
  #overlay {display:block;}
  .site-header {
    z-index: 999999;
    .head-inner {
      &:before {
        content:"";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
        z-index: 999;
      }
    }
    // .site-logo {
    //   left: 52px;
    //   z-index: 9999999;
    // }
  }
  #site-navigation {
    right: 0;
    z-index: 9999;
  }
}
html  body.logged-in.admin-bar {
  @include max($midwidth) {
    .site-header {top:46px;}
    #wpadminbar {
      position: fixed!important;
      top: 0;
      left: 0;
    }
  }
}

.banner-wrapper {
  position: relative;
  z-index: 20;
  .wrapper {
    max-width: 100%;
    @include tab {
      max-width: $wrapper;
    }
  }
  .banner {
    height: 82vh;
    position: relative;
    @include tab {
      height: 80vh;
    }
    .wrapper, .slide {
      height: 100%;
      position: relative;
      z-index: 10;

    }
    .slide  {
      background-color: #CCC;
    }
    .slideImage {
      width: 100%;
      height: 100%;
      @include backgroundImage(center);
      background-color: #CCC;
    }
    .caption {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      @include flexgroup();
      justify-content: center;
      align-items: center;
      background: rgba(0,0,0,.6);
      text-align: center;
      padding: 20px;
      @include tab {
        padding: 0 0;
      }
      .text {
        font-family: $font_secondary;
        font-size: 3.5vh;
        font-weight: 600;
        line-height: 1.2;
        text-transform: uppercase;
        color: #FFF;
        max-width: 750px;
        width: 100%;
        @include tab {
          font-size: 7vh;
        }
      }
    }
  }
}

.subpage-banner {
  height: 350px;
  position: relative;
  .wrapper {
    position: relative;
    padding: 0 0;
    height: 100%;
    max-width: 100%;
    @include tab {
      max-width: $wrapper;
    }
  }
  .banner-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .banner-text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    @include flexgroup();
    justify-content: center;
    align-items: center;
    &:before {
      content:"";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba($primary,60%);
      // background: -moz-linear-gradient(top,  rgba(19,86,122,1) 0%, rgba(29,66,84,0.6) 100%);
      // background: -webkit-linear-gradient(top,  rgba(19,86,122,1) 0%,rgba(29,66,84,0.6) 100%);
      // background: linear-gradient(to bottom,  rgba(19,86,122,1) 0%,rgba(29,66,84,0.6) 100%);
      // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13567a', endColorstr='#991d4254',GradientType=0 );
    }
    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1.2;
      color: #FFF;
      position: relative;
      z-index: 10;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
  .banner-sm-text {
    width: 100%;
    position: absolute;
    bottom: -25px;
    left: 0;
    z-index: 10;
    padding: 0 20px;
    .wrapper {
      background: $primary;
      padding: 20px 15px;
      color: $teal;
      font-family: $font_secondary;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.2;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}
#main,
.titlediv.wrapper {
  @include max($midwidth) {
    max-width: 100%;
    width: 100%;
  }
}

body.home {
  #content {
    #intro {
      margin-top: -70px;
    }
  }
}
.medium-width {
  max-width: 850px;
  width: 100%;
  margin:0 auto;
}

/* Slideshow */
.slideshow {
  .swiper, .swiper-wrapper, .swiper-slide {
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 40px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-button-next, .swiper-button-prev {
    color: #FFF;
    transform: scale(0.65);
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  .swiper-pagination-bullets.swiper-pagination {
    width: 100px;
    right: 0;
    left: unset;
  }
  .swiper-pagination-bullet {
    background-color: rgba(255,255,255, .3);
    opacity: 1;
    &.swiper-pagination-bullet-active {
      background-color: #FFF;
    }
  }
}

.row1 {
  @include max($midwidth) {
    .wrapper {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.intro {
  padding-top: 170px;
  padding-bottom: 70px;
  h2 {
    font-weight: 600;
  }
  
}

.scrolldown {
  display: inline-block;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 25;
  a {
    display: inline-block;
    text-decoration: none;
    transform: all ease .3s;
    background: $secondary;
    overflow: hidden;
    width: 50px;
    height: 50px;
    text-indent: -99em;
    position: relative;
    span{
      width: 0;
      right: -20vw;
    }
    &:before, &:after {
      content:"";
      display: block;
      width: 40%;
      height: 2px;
      background: #FFF;
      position: absolute;
      top: 25px;
      left: 50%;
      transform: translateX(-50%);
      transition: all ease .3s;
    }
    &:before {
      transform: translateX(-80%) rotate(48deg);
    }
    &:after {
      transform: translateX(-17%) rotate(-48deg);
    }
    &:hover {
      // background: tint($secondary,20%);
      background: $teal;
      &:before, &:after {
        top: 28px;
      }
    }
  }
}


.home-boxes {
  @include flexgroup();
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  .item {
    width: 100%;
    padding: 20px;
    @include xs {
      width: 50%;
    }
    @include tab {
      width: 33.333%;
    }
    .inner {
      padding: 20px;
      background: rgba(255,255,255,.12);
      text-align: center;
      min-height: 230px;
      @include flexgroup();
      align-items: center;
      justify-content: center;
      h4,h5 {
        width: 100%;
        line-height: 1.2;
      }
    }
    p:empty{
      display: none;
    }
    h4 {
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2;
      margin: 0 0;
      text-transform: uppercase;
      @include tab {
        font-size: 4rem;
      }
    }
    h5 {
      font-size: 0.8rem;
      font-weight: 800;
      line-height: 1.2;
      margin: 0 0;
      color: $teal;
      text-transform: uppercase;
      @include tab {
        font-size: 1rem;
      }
    }
    &.highlighted {
      .inner {
        background-color: transparent;
      }
      h4 {
        font-size: 3rem;
        font-weight: 500;
        color: $secondary;
      }
    }
    div.button {
      margin-top: 0;
      width: 100%;
      @include tab {
        margin-top: -45px;
      }
      a {
        display: inline-block;
        text-decoration: none;
        background: $teal;
        color: #FFF;
        padding: 10px 25px;
        font-weight: 500;
        &:hover {
          background: $secondary;
        }
      }
    }
  }
}


.approach {
  position: relative;
  z-index: 30;
  background: #FFF;
  img.wp-block-cover__image-background {
    position: absolute;
    top: 0;
    left: 0;
  }
  .wp-block-cover {
    position: relative;
    top: -80px;
  }
  .wp-block-group__inner-container {
    // position: relative;
    // top: -80px;
  }
  .wp-block-cover {
    position: relative;
    padding: 0 0;
    .wp-block-cover__inner-container {
      position: absolute;
      left: 0;
      bottom: 0;
      overflow: hidden;
      @include max($midwidth) {
        position: relative;
      }
    }
  }
  p:empty{display:none;}
  h2 {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    text-align: center;
  }
}
.home--approach {
  position: relative;
  top: 0;
}
.home--tabs {
  width: 30%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10vw;
  z-index: 15;
  @include max($midwidth) {
    padding-top: 120px;
    padding-bottom: 50px;
  }
  .tabTitle {
    width: 100%;
    a.wrap {
      display: block;
      text-decoration: none;
      padding: 12px 30px 15px;
      line-height: 1.2;
    }
    &.title {
      a span {
        display: inline-block;
        background: $primary;
      }
    }
    &.first {
      a.wrap {
        background: $primary;
        color: $secondary;
      }
    }
  }
  .title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 8px 0;
    @include tab {
      padding: 20px 0;
    }
    img {
      width: auto;
      height: 35px;
      margin-right: 20px;
      @include tab {
        height: 50px;
      }
    }
    .t1 {
      font-size: 1.1em;
      font-weight: 600;
      line-height: 1.2;
      color: #FFF;
      @include tab {
        font-size: 1.5em;
      }
    }
  }
}
.home-tabs-content {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 25;
  .tabText {
    display: none;
    .inner {
      font-size: 23px;
      font-weight: 600;
      line-height: 1.3;
      p:last-child {
        margin-bottom: 0;
      }
    }
    @include animateThis(1s);
    &.active {
      display: block;
      position: absolute;
      bottom: 50px;
      right: 0;
      background: #FFF;
      padding: 20px;

      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      animation-duration: 0.3s;
      @include animateEffect('fadeInRight');
    }
  }

  @include max($midwidth) {
    width: 100%;
    position: relative;
    padding: 15px 15px 40px;
    .tabText.active {
      position: relative;
    }
  }
}

.home--tabs {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .tabTitle {
    // display: none;
    .title {
      a {
        display: block;
        padding: 10px 50px 10px 30px;
        position: relative;
        // background: tint($primary,1);
        &:before {
          content:"";
          display: block;
          width: 0%;
          height: 100%;
          transition: all ease .3s;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          // background: $primary;
        }
        img,span {
          display: inline-block;
          position: relative;
          z-index: 10;
        }
        span {
          top: 4px;
        }
        &:hover {
          &:before {
            width: 100%;
            background: tint($primary,1)
          }
        }
      }
    }

    .tabTitle {
      .title {
        color: #FFF;
        background: $primary;
        &:hover {
          a {
            width: 100%;
            background: tint($primary,1);
            img,span {
              display: inline-block;
              position: relative;
              z-index: 10;
            }
          }
        }
      }
      
    }
    .wrap {
      position: relative;
      z-index: 10;
    }

    &.active {
      .title a {
        &:before {
          background: $primary;
          width: 100%;
        }
        span.t1 {
          color: $secondary;
        }
      }
    }
  }
}

.home-tabs-arrows {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  height: 50px;
  z-index: 100;
  @include max($tabwidth) {
    width: 100%;
  }
  a {
    display: inline-block;
    text-decoration: none;
    background: $secondary;
    width: 50px;
    height: 100%;
    position: relative;
    margin-left: 1px;
    span {
      display: block;
      width: 0;
      overflow: hidden;
      text-indent: -99em;
    }
    &:before, &:after {
      content:"";
      display: inline-block;
      width: 18px;
      height: 2px;
      background: #FFF;
      position: absolute;
      top: 19px;
      left: 15px;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  a.prev {
    &:before {
      transform: translateY(0) rotate(-45deg);
    }
    &:after {
      transform: translateY(11px) rotate(45deg);
    }
  }
  a.next {
    &:before, &:after {
      left: 18px;
    }
    &:before {
      transform: translateY(11px) rotate(-45deg);
    }
    &:after {
      transform: translateY(0) rotate(45deg);
    }
    @include max($tabwidth) {
      position: absolute;
      right: 0;
    }
  }
}

.wp-block-group.mission {
  position: relative;
  z-index: 25;
  h2 {font-weight:600;}
  
  &:before {
    content:"";
    display: block;
    height: 0; 
    width: 50px;
    border-bottom: 30px solid $secondary;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
  }
  .wp-block-group__inner-container {
    font-weight: 500;
  }
}

#main {
  min-height: 30em;
}

.pull-top {
  position: relative;
  top: -100px;
  padding-top: 200px;
}

.wp-block-group.history {
  position: relative;
  z-index: 10;
  &:before {
    content: "";
    display: block;
    height: 0;
    width: 50px;
    border-bottom: 30px solid #FFF;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    top: -125px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.mission-column {
  .midwrapper {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

.timeline-swiper {
  #timeline,
  .swiper-wrapper,
  .swiper-slide,
  .swiper-slide .inner {
    height: 100%;
  }
  &.wrapper {
    max-width: 80vw;
  }
  .inner {
    background: #CFD2D3;
    @include flexgroup();
    justify-content: center;
    align-items: center;
    .text {
      width: 100%;
      @include flexgroup();
      justify-content: center;
      align-items: center;
      padding-top: 50px;
      padding-left: 20px;
      padding-right: 20px;
      @include tab {
        width: 60%;
        padding-top: 0;
        padding-left: 5vw;
        padding-right: 5vw;
      }
      .large-text {
        font-family: $font_secondary;
        font-size: 12vw;
        font-weight: 700;
        line-height: 1;
        color: $primary;
        text-align: center;
        @include tab {
          text-align: left;
        }
      }
      .small-text {
        font-size: 5.5vw;
        font-weight: 600;
        line-height: 1.2;
        color: #FFF;
        text-align: center;
        @include tab {
          text-align: left;
          font-size: 2.5vw;
        }
      }
    }
    .photo {
      margin: 0 0;
      width: 100%;
      padding: 5vw 4vw;
      position: relative;
      span {
        display: block;
        width: 100%;
        float: left;
        position: relative;
        z-index: 10;
        @include backgroundImage(center);
        background-size: contain;
        background-color: transparent;
        @include max($portrait) {
          background-image:none!important;
        }
      }
      img {
        width: 100%;
        height: auto;
        float: left;
      }
      img.helper {
        display: block;
        @include max($portrait) {
          display: none;
        }
      }
      img.actual {
        display: none;
        @include max($portrait) {
          display: block;
        }
      }

      &:after {
        content:"";
        display: block;
        width: 100%;
        height: 30%;
        position: absolute;
        bottom: 0;
        right: 0;
        background: #FFF;
      }
      @include tab {
        width: 40%;
        &:after {display:none;}
        &:before {
          content:"";
          display: block;
          width: 40%;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          background: #FFF;
        }
      }
      img {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 10;
      }
    }
    p:empty{display:none;}
  }
}

.timelineWrap {
  .swiper-button-prev,
  .swiper-button-next  {
    width: 55px;
    height: 55px;
    background: $secondary;
    color: #FFF;
    transition: all ease .3s;
    z-index: 10;
    &:before, &:after {
      transition: all ease .3s;
    }
  }
  .swiper-button-next {
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      right: 20px;
      width: 15vw;
      height: 2px;
      background: $secondary;
      transform: translateY(-50%);
      @include tab {
        right: 50px;
      }
    }
    &:after {
      transform: scale(0.6);
    }
    &:hover{
      &:after {
        transform: translateX(8px) scale(0.6);
      }
    }
  }
  .swiper-button-prev {
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 15vw;
      height: 2px;
      background: $secondary;
      transform: translateY(-50%);
    }
    &:after {
      transform: scale(0.6);
    }
    &:hover{
      &:after {
        transform: translateX(-8px) scale(0.6);
      }
    }
  }
  .swiper-button-prev{left:0;}
  .swiper-button-next{right:0;}
  .swiper-pagination {display:none!important;}
}

.midwrapper {
  max-width: 90%;
  width: 100%;
  margin: 0 auto!important;
  padding: 100px 20px 50px;
  position: relative;
  z-index: 10;
  font-weight: 600;
  @include xs {
    max-width: 85%;
  }
  &.narrow {
    max-width: 900px;
  }
  &.sm {
    max-width: 800px;
  }
  &.wide {
    max-width: 1350px;
  }
}
.wrapper {
  max-width: 100%;
  width: 100%;
  margin: 0 auto!important;
  @include tab {
    max-width: $wrapper;
  }
  &.medium {
    @include tab {
      max-width: 900px;
    }
  }
  &.xs {
    @include tab {
      max-width: 600px;
    }
  }
  &.wide {
    @include tab {
      max-width: 1350px;
    }
  }
}

.image-content {
  padding: 0 0!important;
  position: relative;
  @include tab {
    &:before {
      content:"";
      display: block;
      width: 30%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #FFF;
    }
  }
  .wp-block-column {
    position: relative;
    z-index: 10;
  }
  .imagecol {
    @include max($tabwidth - 1px) {
      figure {
        margin: 30px 10vw 0;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .textcol {
    padding-left: 10vw;
    padding-right: 10vw;
    @include tab {
      padding-left: 2vw;
      padding-right: 6vw;
    }
  }
}
.wp-block-group.communities {
  position: relative;
  margin-top: 35px;
}
.communities-feeds {
  position: relative;
  // margin-top: 50px;
  // padding-top: 30px;
  // padding-bottom: 30px;
  .arrowdiv {
    position: absolute;
    top: -45px;
    left: 0;
    width: 100%;
    text-align: center;
    .arrdown {
      display: inline-block;
      text-decoration: none;
      width: 50px;
      height: 50px;
      background: $secondary;
      position: relative;
      &:before, &:after {
        content: "";
        display: block;
        width: 40%;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 24px;
        left: 15px;
      }
      &:before {
        transform: translateX(-6px) rotate(50deg);
      }
      &:after {
        transform: translateX(6px) rotate(-50deg);
      }
    }
  }
  .blocks-wrapper {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
  }
  .block {
    padding: 60px 0 75px;
    border-top: 1px solid $secondary;
  }
  .block:first-child {
    border-top: none;
  }
  .has_photo {
    .photo {
      margin: 0 0 70px;
      padding: 0 0;
      position: relative;
      width: 100%;
      @include tab {
        width: 48%;
        margin-bottom: 0;
      }
      .image {
        display: block;
        width: 100%;
        float: left;
        background-image: none;
        @include backgroundImage(center);
        background-color: rgba(255,255,255,.15);
      }
      img {
        width: 100%;
        height: auto;
        float: left;
        visibility: hidden;
      }
      .more-button {
        position: absolute;
        left: 0;
        bottom: -20px;
        width: 100%;
        text-align: center;
        z-index: 10;
        a {
          display: inline-block;
          text-decoration: none;
          padding: 18px 25px 14px;
          border-radius: 0;
          color: #FFF;
          background: $teal;
          font-family: $font_secondary;
          font-size: 15px;
          font-weight: 500;
          line-height: 1.1;
          text-transform: uppercase;
          &:hover {
            background: $secondary;
          }
        }
      }
    }
    .info {
      width: 100%;
      @include tab {
        width: 48%;
      }
    }
  }
  .inner {
    @include flexgroup();
    align-items: center;
    justify-content: space-between;
  }
  .block.even {
    @include tab {
      .inner {
        flex-direction: row-reverse;
      }
    }
  }
  .titlewrap {
    margin-bottom: 30px;
    h3 {
      color: $secondary;
      font-size: 25px;
      font-weight: 600;
      line-height: 1.2;
      text-transform: uppercase;
      margin: 0 0;
    }
    .location {
      color: $teal;
      font-family: $font_secondary;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.2;
      text-transform: uppercase;
    }
  }
  .textwrap {
    color: #FFF;
  }
  p:empty {
    display: none;
  }
}

.link a {
  display: inline-block;
  text-decoration: none;
  color: $teal;
  font-family: $font_secondary;
  font-weight: 500;
  text-transform: uppercase;
  &:hover {
    color: $secondary;
  }
}
.bottom-post-terms {
  @include flexgroup();
  align-items: center;
  justify-content: center;
  border-top: 1px solid $secondary;
  border-bottom: 1px solid $secondary;
  margin-top: 50px;
  margin-bottom: 50px;
  .termInfo {
    width: 50%;
    a {
      display: block;
      text-align: center;
      color: $teal;
      font-family: $font_secondary;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.2;
      text-transform: uppercase;
      padding: 30px 30px 25px;
      text-decoration: none;
    }
  }
  .termInfo.active a {
    color: $primary;
    background-color: $secondary;
  }
  .termInfo:not(.active) {
    a:hover {
      // background-color: rgba(255,255,255,.1);
      background-color: rgba($secondary,.1);
      color: $secondary;
    }
  }
  &.full,
  &.count-1 {
    .termInfo, .termInfo a {
      display: block;
      width: 100%;
    }
  }
}
body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) .carousel-communities-wrap {
  width: 100%;
  float: left;
  margin: 100px 0!important;
  position: relative;
  padding: 25px 15px 45px;
  @include tab {
    margin: 100px -10px!important;
  }
  &:before {
    content: "";
    display: block;
    width: 100vw;
    height: 100%;
    background: $teal;
    position: absolute;
    top: 0;
    left: -5px;
    @include tab {
      width: 80vw;
      left: 0;
    }
  }
  #carousel-communities {
    
    @include tab {
      margin-left: -20px!important;
      margin-right: -20px!important;
    }
  }
  .wrapper {
    // max-width: $wrapper;
    // width: 100%;
    // margin: 0 auto;
    // padding: 0 20px;
    padding: 0 0;
    position: relative;
    z-index: 10;
  }
  .owl-item {
    margin:0 0!important;
    padding: 20px;
  }
  .item {
    text-align: center;
    background: #FFF;
    color: $primary;
    min-height: 12em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    .inside {
      padding: 20px;
    }
    h4 {
      color: $secondary;
      font-size: 23px;
      font-weight: 600;
      line-height: 1.2;
      text-transform: uppercase;
      margin:0 0 30px;
    }
    .location {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
      &:after {
        content:"";
        display: block;
        width: 50px;
        height: 2px;
        background: $secondary;
        margin: 0 auto;
      }
    }
    .units {
      font-weight: 600;
      color: $teal;
    }
  }
  .owl-nav {
    // width: 13.2vw;
    // float: right;
    // position: relative;
    // padding: 0 20px;
    // text-align: right;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -999;
    visibility: hidden;
    height: 0;
    width: 0;
    overflow: hidden;
  }
  .owl-dots {
    position: absolute;
    bottom: -15px;
    left: 0;
    text-align: left;
    z-index: 100;
    opacity: 1;
    height: 20px;
    width: 100%;
    z-index: 1000;
    padding: 0 20px;
    display: none;
    @include tab {
      display: block;
    }
    button {
      display: inline-block;
      webkit-appearance:none;
      border:none;
      width: 8px;
      height: 8px;
      border-radius: 100px;
      background-color: #FFF;
      margin:5px 5px;
      opacity: 0.65;
      &.active {
        opacity: 1;
        background-color: $primary;
      }
    }
  }

  p:empty{display:none;}

  #customCommunitiesNav {
    position: absolute;
    right: 0;
    bottom: -23px;
    width: 100%;
    padding-left: 20px;
    text-align: center;
    @include tab {
      bottom: -50px;
      width: 22.1vw;
      padding-left: 2.8vw;
      text-align: unset;
    }
    a {
      display: inline-block;
      text-decoration: none;
      width: 50px;
      height: 50px;
      background: $secondary;
      position: relative;
      text-align: center;
      span {
        display: inline-block;
        position: relative;
        width: 15px;
        &:before, &:after {
          content:"";
          display: block;
          width: 100%;
          height: 2px;
          background: #FFF;
          position: absolute;
        }
      }
      &.previous {
        margin-right: 10px;
      }
      &.previous span {
        &:before {
          transform: translateY(8px) rotate(35deg);
        }
        &:after {
          transform: rotate(-40deg);
        }
      }
      &.next span {
        &:before {
          transform: translateY(8px) rotate(-35deg);
        }
        &:after {
          transform: rotate(40deg);
        }
      }
      &:hover {
        background: tint($secondary,30%);
      }
    }
  }
}

#main p:empty(display:none)


#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: $wrapper;
  width: 100%;
  margin: 0 auto 80px;
  padding: 0 15px;
  text-align: center;
  a, span {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 7px 8px 5px;
    border: 1px solid $teal;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    margin:5px;
    min-width: 28px;
  }
  a {
    color: $teal;
    &:hover {
      background-color: rgba($teal,30%);
    }
    &.next, &.prev {
      padding: 0 5px;
      font-size: 28px;
    }
  }
  .current {
    border-color: $teal;
    background-color: $teal;
    color: $primary;
    font-weight: 700;
  }
}

.communities-tab-info {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  @include tab {
    padding-left: 0;
    padding-right: 0;
    justify-content: flex-start;
  }
  span {
    display: inline-block;
    text-transform: uppercase;
    font-family: $font_secondary;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    position: relative;
    padding-left: 13px;
    margin-left: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
    @include tab {
      margin-top: 0;
      margin-bottom: 0;
    }
    &:before {
      content:"";
      display: block;
      width: 2px;
      height: 88%;
      background: #FFF;
      position: absolute;
      top: 0;
      left: 0;
    }
    strong {
      color: $primary;
      font-weight: 600;
    }
  }
  span.first {
    padding-left: 0;
    margin-left: 0;
    &:before {
      display: none;
    }
  }
}

.wp-block-group.alignwide {
  max-width: 98%;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  @include tab {
    max-width: 90%;
  }
}
.wp-block-group.testimonials {
  padding: 50px 0;
  min-height: 20em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  .testimonials-swiper {
    max-width: 960px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 20px;
    .swiper-slide {
      height: 0;
      overflow: hidden;
      visibility: hidden;
      .inner {
        @include animateThis(1s);
      }
      .author span {
        opacity: 0;
        transition: all ease .3s;
        transition-delay:0.6s;
        margin-top: 50px;
      }
      &.swiper-slide-active {
        height: auto;
        visibility: visible;
        .inner {
          @include animateEffect(fadeIn);
        }
        .author span {
          opacity: 1;
          margin-top: 0;
        }
      }
    }
  }
  .testimonial {
    margin: 20px auto 50px;
    position: relative;
    color: $primary;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 500;
    text-align: center;
    .author {
      margin-top: 50px;
      position: relative;
      text-align: center;
      .customNav {
        display: inline-block;
        width: 250px;
        height: 80px;
        color: #FFF;
        position: relative;
        background: $primary;
        span {
          width: 100%;
          text-align: center;
          display: block;
          color: #FFF;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          text-transform: uppercase;
          font-family: $font_secondary;
          font-weight: bold;
          font-size: 13px;
          line-height: 1.2;
        }
        a {
          display: inline-block;
          width: 50px;
          height: 50px;
          background: $secondary;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          &:before, &:after {
            content:"";
            display: block;
            width: 48%;
            height: 2px;
            background: #FFF;
            position: absolute;
            top: 16px;
          }
          &.prev {
            left: -25px;
            &:before, &:after {
              left: 11px;
            }
            &:before {
              transform: rotate(-37deg);
            }
            &:after {
              transform: translateY(14px) rotate(37deg);
            }
          }
          &.next {
            right: -25px;
            &:before, &:after {
              right: 11px;
            }
            &:before {
              transform: rotate(37deg);
            }
            &:after {
              transform: translateY(14px) rotate(-37deg);
            }
            
          }
        }
      }
    }
    p:empty{
      display: none;
    }
  }
  .owl-dots{
    display: none;
  }
  .owl-nav {
    display: none;
    width: 200px;
    height: 70px;
    color: #FFF;
    position: relative;
    margin: 30px auto 0;
    background: $primary;
    &.show {
      display: block;
    }
  }
  .owl-prev,
  .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .owl-prev {
    left: 0;
  }
  .owl-next {
    right: 0;
  }

  @include max($tabwidth) {
    max-width: 100%!important;
    width: 100%!important;
    .testimonials-swiper {
      max-width: 85vw!important;
      width: 100%!important;
    }
    .swiper-slide {
      max-width: 100%!important;
      width: 100%!important;
    }
  }
}

.teamfeeds {
  &.wrapper {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  h2.has-text-align-center  {
    width: 100%;
    float: left;
    margin-top: 100px;
  }
  .flexwrap {
    @include flexgroup();
    margin-left: -20px;
    margin-right: -20px;
  }
  .team {
    padding: 0;
    position: relative;
    width: 33.333%;
    @include tab {
      padding: 20px;
      width: 100%;
    }
    .inner {
      position: relative;
      width: 100%;
      float: left;
      a {
        display: block;
        width: 100%;
        float: left;
        text-decoration: none;
        position: relative;
      }
      p:empty {
        display: none;
      }
    }
    figure {
      margin: 0 0;
      width: 100%;
      float: left;
      background-color: #CCC;
      background-repeat: no-repeat;
      background-size: cover;
      img {
        width: 100%;
        height: auto;
        float: left;
      }
    }
    .info {
      position: absolute;
      left: 0;
      bottom: 20px;
      z-index: 5;
      background: #FFF;
      font-size: 15px;
      line-height: 1.3;
      padding: 20px 15px;
      width: calc(100% - 40px);
      margin-bottom: 19px;
      p {
        font-weight: 500;
      }
      p:last-child {display: none;}
    }
    h4 {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.1;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 0 0;
      color: $teal;
    }
    .jobtitle {
      font-size: 14px;
      line-height: 1.3;
      color: $primary;
    }
    &.other-info {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      @include tab {
        width: 65%;
      }
      .inner {
        font-family: $font_secondary;
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.2;
        text-transform: uppercase;
        color: $gray2;
        @include tab {
          padding-left: 6vw;
        }
        a {
          color: $gray2;
        }
      }
      a {
        display: block;
        text-decoration: none;
      }

      a.wp-element-button {
        background: $teal;
        color: #cfd2d3;
        display: inline-block!important;
        width: auto;
        padding: 1.6vw 2vw 1.2vw;
        font-size: 1.2vw;
        line-height: 1.2;
        color: #FFF;
        position: relative;
        right: 0;
        margin-top: 20px;
        @include xs {
          right: 3vw;
          top: .5vw;
          margin-top: 0;
          float: right;
        }
        @include tab {
          right: 5vw;
        }
        @include xxl {
          right: 7vw;
        }
        &:hover {
          background: $secondary;
        }
        @include max($tabwidth - 1px) {
          padding: 20px 30px 15px;
          font-size: 15px;
          width: 100%;
        }
      }
    }
    .wp-block-group.partteam {
      display: none;
      visibility: hidden;
    }
  }

  #ctaBoxTeam {
    .has-x-large-font-size {
      color: #cfd2d3;
      padding: 0 0;
      @include tab {
        padding: 15px 15px 10px;
        font-size: 5vw!important;
        display: inline;
      }
      @include max($tabwidth - 1px) {
        font-size: 2rem!important;
      }
    } 
  }

  .wp-element-button {
    float: right;
    position: relative!important;
  }

  .team {
    width: 100%;
    @include xs {
      width: 50%;
    }
    @include tab {
      width: 33.333%;
    }
  }
  .partteam {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    padding: 15px;
    @include tab {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 65%;
    }
    h2 {
      font-size: 4rem;
      font-weight: 500;
      line-height: 1.2;
      text-transform: uppercase;
      margin: 0 0;
      color: $gray2;
    }
    a.wp-element-button {
      text-decoration: none;
      background: $teal!important;
      color: #FFF!important;
      padding: 15px 20px 10px;
      text-transform: uppercase;
      font-weight: $font_secondary;
      font-size: 14px;
      font-weight: 600;
    }

    .wp-block-buttons {
      position: relative;
      float: right;
    }
  }
  .wp-element-button {
    display: none;
  }
  .slideBtn {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    bottom: 30px;
    z-index: 15;
    background: $secondary;
    color: transparent;
    text-transform: uppercase;
    &:before, &:after {
      content:"";
      display: block;
      width: 50%;
      height: 2px;
      background: #FFF;
      position: absolute;
      top: 4px;
      left: 13px;
    }
    &:before {
      transform: translateY(10px) rotate(40deg);
    }
    &:after {
      transform: translateY(22px) rotate(-40deg);
    }
  }

}

.team-page {
  margin-top: 100px;
}

.back-topbar {
  .wrapper {
    background: $primary;
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .inner {
    position: relative;
  }
  a.back-button {
    display: inline-block;
    text-decoration: none;
    color: $teal;
    text-transform: uppercase;
    font-family: $font_secondary;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    padding: 20px 15px 18px 25px;
    position: relative;
    span.arrow {
      width: 50px;
      height: 50px;
      background: $secondary;
      position: absolute;
      top: 50%;
      left: -45px;
      transform: translateY(-50%);
      &:before, &:after {
        content:"";
        width: 45%;
        height: 2px;
        background: #FFF;
        position: absolute;
        top: 1px;
        left: 12px;
        transition: all ease .2s;
      }
      &:before {
        transform: translateY(16px) rotate(-40deg);
      }
      &:after {
        transform: translateY(29px) rotate(40deg);
      }
    }
    &:hover {
      color: tint($teal,50%);
      span.arrow {
        &:before, &:after {
          left: 8px;
        }
      }
    }
  }
}

.single-team-page {
  .titlediv {
    margin: 60px 0 50px;
    text-align: center;
    .page-title {
      font-family: $font_secondary;
      font-size: 45px;
      font-weight: 600;
      line-height: 1.2;
      text-transform: uppercase;
      color: $secondary;
      margin: 0 0;
    }
    .jobtitle {
      font-size: 22px;
      font-weight: 600;
      line-height: 1.2;
    }
  }
  .entry-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: #CFD2D3;
    margin: 0 0 80px;
    @include tab {
      padding: 70px 0; 
    }
    figure {
      margin: 0 0;
      position: relative;
      border-bottom: 6px solid $secondary;
      img {
        width: 100%;
        height: auto;
      }
    }
    figure,.details {
      width: 100%;
      position: relative;
      z-index: 5;
    }
  }
  .entry-content.hasphoto {
    align-items: center;
    @include tab {
      &:before {
        content:"";
        display: block;
        width: 20%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #FFF;
      }
    }
    figure {
      width: 100%;
      margin-bottom: 20px;
      @include tab {
        width: 30%;
        margin-bottom: 0;
      }
    }
    .details {
      width: 100%;
      color: $primary;
      padding: 20px 30px;
      @include tab {
        padding: 0 3vw;
        width: 70%;
      }
    }
  }
}

.fullwidth-blue {
  background: $primary;
  color: #FFF;
  position: relative;
  padding: 50px 0;
  @include mid {
    padding: 5vw 0
  }
  .innerwrap {
    overflow: hidden;
  }
  .arrow-top {
    position: absolute;
    top: -25px;
    left: 0;
    width: 100%;
    text-align: center;
    &:before {
      content:"";
      display: inline-block;
      width: 0;
      height: 0;
      border-left: 55px solid transparent;
      border-right: 55px solid transparent;
      border-bottom: 30px solid $primary;
    }
  }
}

.infotabs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  z-index: 10;
  .tabs {
    display: none;
    @include tab {
      width: 30%;
      display: block;
    }
    .tab {
      a {
        display: block;
        text-decoration: none;
        color: $teal;
        font-family: $font_secondary;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.2;
        text-transform: uppercase;
        padding: 40px 15px 35px;
        padding-right: 5vw;
        position: relative;
        span {
          display: inline-block;
          position: relative;
          z-index: 5;
        }
        &:hover {
          color: tint($teal,50%);
        }
      }
      &.active {
        a {
          color: $secondary!important;
          &:before {
            content:"";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background: shade($primary,40%);
          }
          &:after {
            content:"";
            display: block;
            width: 50vw;
            height: 100%;
            position: absolute;
            top: 0;
            left: -25vw;
            background: shade($primary,40%);
          }
        }
      }
    }
  }
  .tabcontent {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background: $primary;
    position: relative;
    z-index: 20;
    @include tab {
      width: 70%;
      border-left: 1px solid rgba(255,255,255,.75);
    }
    .tab-title {
      display: block;
      @include tab {
        display: none;
      }
    }
  }
  .tabtext {
    display: none;
    @include animateThis(1s);
    &.active {
      display: block;
      @include animateEffect(fadeIn);
    }
    ul {
      margin: 0 0;
      padding: 0 0;
      list-style: none;
      li {
        position: relative;
        line-height: 1.3;
        padding-left: 15px;
        margin: 15px 0;
        &:before {
          content:"";
          display: block;
          width: 7px;
          height: 7px;
          background-image: url('images/bullet.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          position: absolute;
          top: 9px;
          left: 0;
        }
      }
    }
  }

  @include max($tabwidth - 1px){
    .tabcontent {
      padding-left: 0;
      .tab-title {
        width: 100%;
        margin: 8px 0 0;
        color: $teal;
        font-family: $font_secondary;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.2;
        text-transform: uppercase;
        padding: 18px 20px 15px;
        background: shade($primary,60%);
        position: relative;
        &:after {
          content:"";
          display: inline-block;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #FFF;
          position: absolute;
          top: 50%;
          right: 20px;
          opacity: 0.65;
          transform: translateY(-50%);
        }
        &.show {
          color: $secondary;
        }
      }
      .tabtext {
        width: 100%;
        padding: 25px;
        background: shade($primary,40%);
      }
    }
  }
}

.wp-block-group.contactForm {
  padding: 0 20px 45px;
  background: #cfd2d3;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 80px;
  @include tab {
    padding: 5vw 20px 45px;
    margin-right: 6vw;
    &:before {
      content:"";
      display: block;
      width: 20%;
      height: 100%;
      background: #FFF;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .leftcol {
    color: #FFF;
    padding: 0;
    font-family: $font_secondary;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    z-index: 20;
    margin:0 -20px;
    @include tab {
      margin: 0 0;
    }
    a {
      display: inline-block;
      text-decoration: none;
      color: $teal;
    }
    .is-layout-constrained.wp-block-group {
      background: $primary;
      padding: 35px;
      min-height: 0;
      position: relative;
      top: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      border-bottom: 5px solid $secondary;
      width: 100%!important;
      .wp-block-group__inner-container {
        max-width: 100%!important;
        width: 100%!important;
        margin: 0 0!important;
        p:last-child {
          margin-bottom: 0;
        }
      }
      @include tab {
        top: -36px;
        min-height: 25em;
      }
    }
  }
  .rightcol {
    color: $primary;
    margin-bottom: 0!important;
  }
  .gform_wrapper {
    p:empty{display:none;}
    input[type="tel"], 
    input[type="text"], input[type="email"],select, textarea {
      border: 1px solid rgba(0,0,0,0.8);
      padding: 7px 10px 6px;
      background: #FFF;
      font-family: $font_primary;
      font-size: 17px!important;
      font-weight: 500;
      line-height: 1.2;
    }
    input[type="text"], input[type="email"], input[type="tel"], select {
      height: 40px;
    }
    .ginput_container {
      width: 100%;
      float: left;
    }
    .ginput_complex {
      label {
        margin-bottom: 0;
      }
    }
    .ginput_container.has_first_name.has_last_name {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      p {
        width: 48.5%;
        margin: 0 0;
      }
    }
    label.gfield_label {
      font-family: $font_secondary;
      font-weight: normal;
      text-transform: uppercase;
      margin: 0 0;
    }
    input#gform_submit_button_1 {
      display: inline-block;
      padding: 15px 35px;
      background: $teal;
      color: #FFF;
      border: none;
      &:hover {
        background: $secondary;
      }
    }
    .gform_footer {
      display: block;
      margin-top: 20px;
      margin-bottom: 0!important;
      padding-bottom: 0!important;
      input.gform_button {
        margin: 0 0;
      }
    }
  }
}
.rightcol {
  @include mid {
    padding-left: 1vw;
    padding-right: 1.5vw;
  }
}

.hidden-fields {
  margin: 0 0!important;
  padding: 0 0!important;
  height: 0!important;
  overflow: hidden;
}

body.page-template-page-generic {
  .subpage-banner {
    margin-bottom: 60px;
  }
  #primary {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    @include tab {
      max-width: calc(90% - 40px);
      padding-left: 0;
      padding-right: 0;
    }
  }
  .entry-content {
    color: $primary;
    font-weight: 500;
  }
}

.narrow-title {
  max-width: 100%;
  width: 100%;
  margin: 0 auto 30px;
  @include tab {
    max-width: 45vw;
  }
}

.narrow-width {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.section-two-columns {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  @include mid {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  h4 {
    margin: 0 0 30px;
  }
  &.arrow-bottom {
    &:before {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-left: 55px solid transparent;
      border-right: 55px solid transparent;
      border-bottom: 25px solid #FFF;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      z-index: 4;
    }
  }
}

.column-with-subheadings {
  p strong {
    font-family: $font_secondary;
    font-weight: 600;
  }
}

ul.styled {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
  li {
    position: relative;
    line-height: 1.3;
    padding-left: 15px;
    margin: 15px 0;
    &:before {
      content:"";
      display: block;
      width: 7px;
      height: 7px;
      background-image: url('images/bullet.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      top: 9px;
      left: 0;
    }
  }
}

.contact-block {
  .wp-block-button__link {
    display: inline-block;
    text-decoration: none;
    border: none!important;
    font-family: $font_secondary;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    border-radius: 0px;
    padding: 20px 20px 15px!important;
    min-width: 250px;
    text-align: center;
    position: relative;
    &.has-teal-background-color {
      background: $teal;
      &:hover {
        background: $secondary;
      }
    }
    @include tab {
      left: -5vw;
    }
  }
  .wp-block-cover {
    @include tab {
      margin-left: 6vw;
    }
  }
  .wp-block-buttons {
    @include max($tabwidth - 1px) {
      display: block;
      width: 100%;
      text-align: center;
      .wp-block-button {
        display: inline-block;
      }
    }
  }
}

.wp-block-group.join-team {
  margin-top: 50px;
  .wp-block-columns {
    padding-top: 80px;
    padding-bottom: 0;
  }
}

.wrapper-small {
  max-width: 1000px!important;
  width: 100%!important;
  margin: 0 auto!important;
  padding-left: 15px;
  padding-right: 15px;
}

.has-dark-blue-background-color{background-color: $primary!important;}
.has-orange-background-color{background-color: $secondary!important;}
.has-teal-background-color{background-color: $teal!important;}

.has-dark-blue-color {color: $primary!important;}
.has-orange-color {color: $secondary!important;}
.has-teal-color {color: $teal!important;}

/* FOOTER */
.site-footer {
  font-family: $font_secondary;
  background: $gray2;
  border-bottom: 5px solid $secondary;
  .wrapper {
    padding-top: 70px;
    padding-bottom: 60px;
  }
  .flexcol {
    width: 100%;
    position: relative;
    color: $primary;
    a {
      display: inline-block;
      text-decoration: none;
      color: $primary;
    }
  }
  .flexcol.left {
    border-left: none;
    width: 100%;
    text-align: center;
    @include tab {
      text-align: left;
      width: 350px;
      padding-right: 5vw;
      @include flexgroup();
      align-items: center;
      justify-content: center;
    }
    img {
      width: 250px;
      height: auto;
    }
  }
  .flexcol.right {
    @include flexgroup();
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #FFF;
    @include tab {
      width: calc(100% - 350px);
      margin-left: -20px;
      margin-right: -20px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 4vw;
      margin-top: 0;
      border-left: 1px solid #FFF;
      border-top: none;
    }
  }
  .email-icon {
    color: #FFF!important;
    i {font-size:20px;}
  }
  .widget, .widget a {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
  }
  .widget {
    font-family: $font_secondary;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    @include tab {
      width: 50%;
      padding: 10px 20px;
    }
    @include mid {
      width: 33.333%;
      text-align: left;
    }
    a {
      line-height: 1.3;
    }
    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
    hr {
      border-top: 1px solid #fff;
      max-width: 100%;
      width: 100%;
      margin: 20px 0 20px;
      display: block;
      @include tab {
        max-width: 250px;
      }
    }
    a:hover i,
    a:hover {
      color: $secondary;
    }
    ul {
      margin: 0 0;
      padding: 0 0;
      list-style: none;
      li {
        margin: 2px 0;
      }
    }
  }

  .bottom {
    @include flexgroup();
    text-align: center;
    @include tab {
      text-align: right;
    }
    .bcol {
      width: 100%;
      color: $primary;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: normal;
      letter-spacing: 1px;
    }
  }
  .widget-1, .widget-2 {
    width: 100%;
  }
  @include tab {
    .widget {
      font-size: 14px;
      line-height: 1.4;
    }
    .widget-1 .widget,
    .widget-2 .widget,
    .widget * {
      font-size: 14px;
    }

    .widget-1 {
      .widget, .widget * { font-size: 17px; }
      .widget { width: 100%; }
    }
    .widget-2 {
      .widget, .widget * { font-size: 17px; }
      .widget { width: 50%; font-size: 17px; }
    }
  }

  span.slideBtn {
    display: inline-block;
    width: 15vw;
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 20px;
    background: $secondary;
  }

  .copyright {
    font-size: 13px;
  }

  .footer-partners {
    margin-bottom: 10px;
    a {
      display: inline-block;
      text-decoration: none;
    }
    img {
      display: inline-block;
      width: 33px;
      height: auto;
      @include tab {
        margin-left: 8px;
      }
    }
  }
}


